.task {
  margin: 10px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.taskButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #f0f0f0;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.done {
  text-decoration: line-through;
  color: #808080;
}